body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.body-background {
  height: 95vh;
  background-image: url('../public/images/voiturebg.jpeg'); 
  background-size: cover;
  background-position: center;
}
/* Header.css */
.navbar {
  background-color: #f8f9fa; 
}

.nav-link {
  color: #007bff;
}
.mt-5 {
  margin-top: 0rem !important;
}

